.Card {
    border-radius: 10px;
    width:8vw;
    min-width: 100px;
    background-color: purple;
    height: 12vw;
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    padding:10px;
    text-overflow: clip;
}

.Card p{
    margin:auto;
    font-size: 16px;
    color:orange;
}

.Price {
    margin:auto;
    font-size: 60px;
}